@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white;
}

.text-linear-gradient {
    background: linear-gradient(90deg,  #E680E8 0%, #A3C4F1 15%,#A3C4F1 39%, #E480EB 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display:inline-block;
    background-size: 100% 100%;
    /* Adjust size to fit text block */
    background-position: center;
    line-height: 1.2;
}

/* Custom radial gradient for text */
.text-radial-gradient {
    background: linear-gradient(90deg, #E9EFEF 4%, #E680E8 29%, #A3C4F1 49%, #E480EB 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    background-size: 100% 100%;
    /* Adjust size to fit text block */
    background-position: center;
    line-height: 1.2;
}

.button-top-bottom{
    @apply bg-gradient-to-b from-gradientstart to-gradientend text-white p-3 rounded-full
}

.button-left-right{
    @apply  text-black  font-roboto font-medium  items-center;
    background-image: linear-gradient(90deg, #E680E8, #43C4F1);
    font-size: 24px
}


.logo{
    @apply font-mysoul font-regular  text-2 text-[30px] md:text-[40px];
   
}
.title-main{
    @apply font-roboto font-bold not-italic text-[1.5rem] sm:text-[2.5rem] md:text-[2.2rem] lg:text-[3.1rem] xl:text-[4rem] 2xl:text-[4rem];
}
.title{
    @apply font-roboto font-bold not-italic text-[2rem] sm:text-[2.8rem] md:text-[2.8rem]  lg:text-[3.1rem]  xl:text-[4rem] 2xl:text-[4rem];
    
}
.titleone{
    @apply font-roboto font-bold;
    font-size: 6rem;
}

.titletwo{
    @apply font-roboto font-regular text-3  sm:text-[2rem] lg:text-[3rem] xl:text-[4rem];
    
}

.titlethree{
    @apply font-roboto font-regular text-6;
    font-size: 6rem;
}
.titlefour {
    @apply font-roboto font-regular text-2;
    font-size: 3rem;
}
.titlefive {
    @apply font-roboto font-regular text-1;
    font-size: 2.25rem;
}
.titlesix {
    @apply font-roboto font-medium text-6;
    font-size: 2.5rem;
}
.title-7{
    @apply font-roboto font-medium text-1;
    font-size: 2rem;
}
.hello{
    @apply font-roboto font-bold text-[2.4rem] sm:text-[4rem] md:text-[4rem] lg:text-[5.5rem] xl:text-[7rem] 2xl:text-[7.5rem];
}
.menu{
    @apply font-roboto font-medium hover:text-active text-[1rem] md:text-[1.3125rem];
    
}

.para-1{
    @apply font-roboto font-medium text-1 text-[.7rem] sm:text-[1.25rem];
    
}

.para-2{
    @apply font-roboto font-medium text-2 text-center lg:text-left text-[.8rem] sm:text-[1.3125rem];
    
}

.para-2-sub{
    @apply font-roboto font-medium text-2 text-center  text-[.8rem] sm:text-[1.3125rem];

}

.para-3{
    @apply font-inter font-regular text-5 tracking-normal;
    font-size:1.125rem;
}
.para-4 {
    @apply font-roboto font-medium text-1 sm:text-[1.2rem] md:text-[1.5rem];
   
}

.para-5 {
    @apply font-roboto font-regular text-3 sm:text-[1.2rem] md:text-[1.5rem];
   
}

.para-6{
    @apply font-roboto font-regular text-1;
    font-size: 1.75rem;
}
.para-7 {
    @apply font-roboto font-medium text-5;
    font-size: 1.5rem;
}
.bottom-border{
    @apply border-b border-7 
}
.transition {
    transition-property: transform;
}

.duration-300 {
    transition-duration: 300ms;
}

.rotate-180 {
    transform: rotate(180deg);
}